<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppWorkflow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="PluginDirectory" connectionString="./plugins/modules"/>
    <add name="IconDirectory" connectionString="./res/icons"/>
    <add name="WorkflowCanvasWidth" connectionString="1920"/>
    <add name="WorkflowCanvasHeight" connectionString="1080"/>

    <!--Module Category Hex RGB Colors-->
    <!-- Cyan -->
    <add name="ColorDesigns" connectionString="#00ffff"/>
    <!-- Red -->
    <add name="ColorDataInputs" connectionString="#ff0000"/>
    <!-- Orange -->
    <add name="ColorImposition" connectionString="#ff6600"/>
    <!-- Green -->
    <add name="ColorOutputs" connectionString="#00ff00"/>
    <!-- Light Yellow -->
    <add name="ColorDataManipulation" connectionString="#ffe63f"/>
    <!-- Salmon -->
    <add name="ColorMisc" connectionString="#d69a92"/>

    <!--
    Colors as defined in
    https://docs.microsoft.com/en-us/dotnet/api/System.Drawing.Colors?view=netframework-4.7.2
    -->
    <add name="LineColor" connectionString="LightBlue"/>
    <add name="HookColor" connectionString="LightGoldenrodYellow"/>
  </connectionStrings>
  <applicationSettings>
    <AppWorkflow.Properties.Settings>
      <setting name="data_folder" serializeAs="String">
        <value>D:\Canvas2\Dropbox\BlockApp\Data</value>
      </setting>
    </AppWorkflow.Properties.Settings>
  </applicationSettings>
</configuration>
