<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="ReadFilePath" value="C:\Users\Developer\Desktop\Workflow\SOURCECODE2\Scripting App 30012019-toserver\ScriptingApp\bin\Debug\29012019034542.xml"/>
</appSettings>
</configuration>