<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="JdSuite.Common" />
  </extensions>

  <targets>
    <target name="fileTarget" xsi:type="File" 
            fileName="./logs/DataSorter_${date:format=yyyy-MM-dd}.log" 
            keepFileOpen="true" 
            archiveFileName="./logs/DataSorter_${date:format=yyyy-MM-dd}.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="300"
            concurrentWrites="true"
                        
            layout="${date:format=dd-MM-yy HH\:mm\:ss.ff}|${pad:padding=4:fixedLength=true:inner=${level:uppercase=true}}|${threadid:padding=2}|${pad:padCharacter= :padding=18:fixedLength=true:inner=${logger:shortName=true}}.${pad:padCharacter= :padding=-20:fixedLength=true:inner=${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}}|${message}|${all-event-properties:format=[key]\=[value]:separator=} ${onexception:${newline}Exception_Occured\:${exception:format=toString,Data:maxInnerExceptionLevel=3:innerExceptionSeparator=Inner ${newline}}}" >
    </target>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>
